<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/friends/{{ users.id }}" method="post">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" value="{{ users.first_name }}">
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" value="{{ users.last_name }}">
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{ users.email }}">
        <button type="submit">Update</button>
    </form>
</body>
</html>