<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register Here</h1>
    <form action="/register" method="post">
        <label for="first_name" style="display: block;">First name:<input type="text" name="first_name" placeholder="first name"></label>
        <label for="last_name" style="display: block;">Last name:<input type="text" name="last_name" placeholder="last name"></label>
        <label for="email" style="display: block;">Email:<input type="text" name="email" placeholder="email"></label>
        <label for="pw" style="display: block;">Password:<input type="password" name="pw"></label>
        <label for="pwc" style="display: block;">Password:<input type="password" name="pwc"></label>
        <button type="submit">Submit</button>
    </form>
    <br></br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="font-size: xx-small; margin: 0; color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br></br>
    <form action="/login" method="post">
        <label for="email" style="display: block;">Email:<input type="text" name="email" placeholder="email"></label>
        <label for="pw" style="display: block;">Password:<input type="password" name="pw"></label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>